body {
    background-image: url(body-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.navbar {
    background-image: url(nav-background.png);
    background-color: rgb(194, 194, 194);
    color: rgb(19, 12, 6);
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    10px 10px 20px rgba(0,0,0,.5),
    20px 40px 40px rgba(0,0,0,.5); 
}

#sideBar {
    background-color: rgba(0, 0, 0, 0.555);
    color: whitesmoke;
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    10px 10px 20px rgba(0,0,0,.5),
    20px 40px 40px rgba(0,0,0,.5); 
}

.largeForms {
    width: 250px;

}

.smallForms {
    width: 85px;
}

.smallerForms {
    width: 75px;
}

#infoRow {
    background-color: rgba(0, 0, 0, 0.555);
    color: whitesmoke;
    box-shadow:
    -1px -1px 0 rgba(255, 255, 255, 0),
    1px 1px 0 rgba(0,0,0,.25),
    3px 3px 3px rgba(0,0,0,.25),
    10px 10px 20px rgba(0,0,0,.5),
    20px 40px 40px rgba(0,0,0,.5); 
    
}
